    <script>
    $(function(){
        $( "#datepicker" ).datepicker();
    });
  </script>   
    <!--
    RequiredSkills: String,
    JobLocation:String,
    AreaCode:{ type: Number },
    TravelRequired: String,
    Telecommute: String,
    PayRate: { type: Number },
    TaxTerm: String,
    Length: { type: Number },
    PostedDate: { type: Date, required: 'Posted Date is required!' },
    PositionID:{ type: Number },
    AboutCompany: String,
    PositionSummary: String,
    MinimumQualifications: String,
    ContactAddress: String
    -->

    <h4> Create Job Posting Form </h4><br />
    Required Skills <br />
    <input type="text" ng-model="job.requiredskills" />
    <br />
    Job Location <br />
    <input type="text" ng-model="job.joblocation" />
    <br />
    Area Code *<br />
    <input type="text" ng-model="job.areacode" />
    <br />
    Travel Required <br />
    <!--<input type="text" ng-model="job.travelrequired" />-->
    <select  ng-model="job.travelrequired">
        <option value={{list.TravelRequired}}  ng-repeat="list in travelrequiredlists">{{list.TravelRequired}}            
        </option>        
    </select>

    <br />
    Telecommute <br />
    <!--<input type="text" ng-model="job.telecommute" />-->
    <select  ng-model="job.telecommute">
        <option value={{list.TravelRequired}}  ng-repeat="list in travelrequiredlists">{{list.TravelRequired}}            
        </option>        
    </select>

    <br />
    Pay Rate *<br />
    <input type="text" ng-model="job.payrate" />    
    <br />
    Tax Term <br />
    <!--<input type="text" ng-model="job.taxterm" />-->
    
    <select  ng-model="job.taxterm">
        <option value={{taxtermlist.taxterm}}  ng-repeat="taxtermlist in taxtermlists">{{taxtermlist.taxterm}}            
        </option>        
    </select>

    <br />
    Length *<br />
    <input type="text" ng-model="job.uilength" />
    <br />
    Posted Date <br />
    <input type="text" id="datepicker" ng-model="job.posteddate" />
    <br />
    Position ID *<br />
    <input type="text" ng-model="job.positionid" />
    <br />
    About Company<br />
    <!--<input type="multiline" ng-model="job.aboutcompany" />-->
    <textarea rows="8" cols="100" ng-model="job.aboutcompany"></textarea>

    <br />
    Position Summary<br />
    <!--<input type="text" ng-model="job.positionsummary" />-->
    <textarea rows="8" cols="100" ng-model="job.positionsummary"></textarea>
    <br />
    Minimum Qualifications<br />
    <!--<input type="text" ng-model="job.minimumqualifications" />-->
    <textarea rows="8" cols="100" ng-model="job.minimumqualifications"></textarea>
    <br />
    Contact Address<br />
    <!--<input type="text" ng-model="job.contactaddress" />-->
    <textarea rows="8" cols="100" ng-model="job.contactaddress"></textarea>
    <br />
    <br />
    <button class="btn btn-primary" ng-click="addjobposting()">Add Job Posting</button>  
    <button class="btn btn-primary" ng-click="clickCancel()" >Cancel</button>   
    <br />